@import '../fonts.css';

body > footer {
  border-top: 6px solid black;
  text-align: center;
  margin: 60px 0 0 0;
  font-family: var(--font-stack-modern);
  font-size: 18px;
  line-height: 2em;
  max-width: 550px;
  margin: 2em auto;
  padding-top: 2em;
  & > a {
    color: black;
  }
}
