@font-face {
  font-family: BenchNine;
  src: '/fonts/BenchNine-Regular.ttf';
}

:root {
  --font-stack-slab:
    American Typewriter,
    Roboto Slab,
    Verdana,
    monospace;

  --font-stack-narrow:
    BenchNine,
    Open Sans Condensed,
    DIN Condensed,
    sans-serif;

  --font-stack-modern:
    Futura,
    Impact,
    sans-serif;

  --font-stack-sans-serif:
    system-ui,
    -apple-system,
    sans-serif;

  --font-stack-monospace:
    Menlo,
    Monaco,
    Consolas,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    'Andalé Mono',
    monospace;
}
