@import '../fonts.css';

body > main.benchmark {
  & > .description {
    font-family: var(--font-stack-modern);
    font-size: 18px;
    line-height: 2em;
    max-width: 550px;
    margin: 2em auto;
    & > p {
      margin: 1em 0;
      &.introduction {
        font-weight: bold;
      }
    }
  }
  & > .implementation {
    text-align: center;
    & > h2 {
      text-align: center;
      position: relative;
      width: 100%;
      max-width: 700px;
      font-size: 48px;
      margin: 1em auto 0.5px auto;
      &::before {
        content: '';
        z-index: -1;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        height: 6px;
        background-color: black;
      }
      & > span {
        background-color: white;
        display: inline-block;
        padding: 0 1em;
        font-family: var(--font-stack-narrow);
        & > samp {
          font-family: var(--font-stack-narrow);
        }
      }
    }
    & > code {
      max-width: 700px;
      width: 100%;
      box-sizing: border-box;
      text-align: left;
      font-family: var(--font-stack-monospace);
      font-size: 16px;
      line-height: 1.5em;
      color: white;
      padding: 2em;
      margin: 1.5em auto;
      background-color: black;
      white-space: pre-wrap;
      display: inline-block;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }
  & > .charts {
    & > h2 {
      font-family: var(--font-stack-narrow);
      color: white;
      background-color: black;
      text-align: center;
      margin: 1em 0 0 0;
      padding: 0.5em;
    }
    & > #rps,
    & > #bps {
      border-style: solid;
      border-color: black;
      & .placeholder {
        font-family: var(--font-stack-sans-serif);
        font-size: 18px;
        text-align: center;
        display: block;
        margin: 1em;
      }
      & .c3-tooltip {
        font-family: var(--font-stack-modern);
        & tr {
          border-width: 0;
        }
        & th {
          background-color: black;
          color: white;
        }
        & td {
          color: black;
        }
      }
      &.c3 svg {
        background-color: black;
        & text {
          fill: white;
          font-family: var(--font-stack-modern);
        }
      }
    }
  }
}

@media (max-width: 600px) {
  body > main.benchmark {
    & > .implementation {
      & > h2 {
        & > span {
          font-size: 36px;
        }
      }
      & > code {
        font-size: 12px;
      }
    }
  }
}
